# do not want to commit history of
# open file on github
.netrwhist
#ignore generated tag files
**/tags
vim-fuf-data
*.swp
#ignore vim undelete files
*.un~
#ignore spell file because it could leak some activities
spell/*
